html {
  margin: 0px;
  padding: 0px;
}
#searchbar {
  width: 100%;
  background-color: #dfdfdf;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 2px;
  border: 10px solid #dfdfdf;
  margin: 0px;
  z-index: 999;
  box-shadow: 0 0 2px #2f2f2f;
}
#main {
  position: absolute;
  top: 80px;
  padding: 8px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}
.result {
  margin: 2px;
}